@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* font-family: 'Karla', sans-serif; */

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h1, p {
    font-size: 16px;
}

body {
    align-items: center;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    align-content: center;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    min-height: 545px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.2) 0 4px 6px -2px;
    position: absolute;
}

.community, .why-us, .subscription {
    height: 34%;
    width: 100%;
    padding: 20px;

}

.community h1 {
    color: var(--cyan);
    margin-bottom: 18px;
    font-weight: 700;
}

.community h2 {
    color: var(--bright-yellow);
    font-size: 14px;
    margin-bottom: 18px;
}

.community p {
    color: var(--grayish-blue);
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 18px;
}

.subscription {
    background-color: var(--cyan);
}

.subscription h3, p, button {
    color: white;
}

.subscription h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

.subscription p {
    font-size: 12px;
}

.subscription .price {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.price span {
    font-size: 12px;
    font-weight: 400;
    color: var(--light-gray);
}

button {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: var(--bright-yellow);
    margin: 30px 0 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.why-us {
    background-color: var(--grayish-blue);
    color: white;
}

.why-us h3 {
    font-size: 16px;
}

.why-us ul {
    list-style: none;
    margin-top: 10px;
    font-size: 12px;
}

.why-us ul li {
    margin: 3px 0;
}

.modal {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 100%;
    width: 100%;
    padding: 100px 0;
    border-radius: 7px;
    backdrop-filter: blur(5px);
    opacity: 0;
}

.active {
    opacity: 1;
}

.modal p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: blue;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 30px;
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 550px;
        min-height: 200px;
    }

    .community {
        width: 100%;
        height: 180px;
        padding: 30px 30px 10px;
    }

    .why-us, .subscription {
        width: 50%;
        height: 200px;
        padding: 20px 30px;
    }

}